{% extends 'base.html' %}

{% block content %}
<div class="container" style="padding-top: 120px; padding-bottom: 60px;">
<div class="container" style=" border-radius: 7px;  padding-bottom: 5px;  padding-top: 5px;">
   <center> <h1>About Us</h1>
    <p>Project<em>Coin</em> was heavily influenced by CoinBase, a website used for tracking, selling and buying cryptocurrency.  Project<em>Coin</em> is created using <a href="https://www.djangoproject.com/">Django</a> in Python. Our team was made up of six students at California State University, Fullerton for the class 466 Software Process -- instructed by Lidia Morrison in Spring 2019. Our team was split off into front-end and back-end portions, while others worked on the Software Architecture Document (SAD).</p>
</center>
    
</div>
</div>


<div class="bg-white text-dark" style="padding-top: 20px; padding-bottom: 20px;">
<div class="container" style="padding-top: 15px;">
<center>    <h1>Meet the <em><b>Team</b></em></h1></center>
    <dl class="row text-muted" style="margin-top: 20px; padding-left: 25%; padding-right: 25%">
        <dt class="col-sm-3">Nancy Badillo</dt>
        <dd class="col-sm-9"><p>Front End Developer with HTML/CSS<br>Project Lead</p></dd>
        <dt class="col-sm-3">Lonnie Hasen</dt>
        <dd class="col-sm-9"><p>Front End Developer with Python and JavaScript</p></dd>
        <dt class="col-sm-3">Ivan Rosales</dt>
        <dd class="col-sm-9"><p>Software Architecture Documentation<br>Scrum Master</p></dd>
        <dt class="col-sm-3">Gerardo Varela</dt>
        <dd class="col-sm-9"><p>Software Architecture Documentation</p></dd>
        <dt class="col-sm-3">Tien Phan</dt>
        <dd class="col-sm-9"><p>Back End Developer with SQLite3 Database</p></dd>
        <dt class="col-sm-3">Calvin Xu</dt>
        <dd class="col-sm-9"><p>Back End Developer with SQLite3 Database</p></dd>
    </dl>
</div>
    
</div>
{% endblock %}
