{% extends 'coinbase.html' %}

{% block title %}Basic Attention Token{% endblock %}

<script>
    {% block jquery%}
    createDayGraph('BAT');
    $(".hour").click(function(){
      createHourGraph('BAT');
    });
    $(".day").click(function(){
      createDayGraph('BAT');
    });
    $(".week").click(function(){
      createWeekGraph('BAT');
    });
    $(".month").click(function(){
      createMonthGraph('BAT');
    });
    {% endblock %}
    </script>

{% block title2 %}Basic Attention Token (BAT){% endblock %}

{% block graph %}
<canvas id="graph" style="padding: 5px;"></canvas>
{% endblock %}

<!-- Under the graph -->
{% block quote %}
<p class="mb-0">“Introducing a decentralized, transparent digital ad exchange based on Ethereum Blockchain.”</p>
<footer class="blockquote-footer"><cite title="Source Title">basicattentiontoken.com</cite></footer>
{% endblock %}


<!-- under quote -->
{% block about%}
BAT is an Ethereum token that powers Brave Software's blockchain-based digital advertising platform. Internet users who browse the web using Brave's free web browser (available at Brave.com) can choose to replace the ads they see with ads on Brave's ad network. Users then receive BAT from advertisers as compensation for their attention.<small class="text-muted">
    Taken from <a href="https://www.coinbase.com/price/basic-attention-token">this article</a>, on CoinBase.com
</small>
<p>
    <i class="fas fa-globe"></i> <a href="https://basicattentiontoken.org/">Official Website</a><br>
    <i class="far fa-file-alt"></i>&ThickSpace;<a href="https://basicattentiontoken.org/BasicAttentionTokenWhitePaper-4.pdf">Whitepaper</a>
</p>
{% endblock %}
