{% extends 'coinbase.html' %}

{% block title %}Bitcoin (BTC){% endblock %}

<script>
{% block jquery%}
var endpoint = 'api/cryptodata/'
var defaultData = []
var labels = [`low`, 'close', 'high'];
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        defaultData = data
        //console.log(data)
        createGraph()
    },
    error: function(err_data){
        console.log("error")
        console.log(err_data)
    }
})

function createGraph(){
    var close = [];
    var jsonData = JSON.parse(defaultData);
    var tempData = jsonData.data;
    var indices = jsonData.index;
    var size = Object.keys(tempData).length;
    console.log(size)
    for (var a = 0; a < size; a++) {
        close.push(tempData[a][0]);
    }
    console.log(close);
    var g1 = document.getElementById("BTCgraph");
    var graph = new Chart(g1, {
        type: 'line',
        data: {
            labels: indices,
            datasets: [
              {
                label: "close",
                data: close,
                backgroundColor: 'rgba(232, 228, 33, 0.2)',
                borderColor: 'rgba(232, 228, 33, 1)'
              },
            ]
        }
    })
}
{% endblock %}
</script>

{% block graph %}
<canvas id="BTCgraph"></canvas>
{% endblock %}

{% block title2 %}Bitcoin{% endblock %}

{% block right %}
Maecenas finibus fermentum arcu vel molestie. Etiam non justo a magna posuere ornare.
{% endblock %}

{% block left%}
Nunc egestas tristique pulvinar. Vivamus aliquam euismod nibh vel efficitur. Maecenas finibus fermentum arcu vel molestie. Etiam non justo a magna posuere ornare. Praesent ac augue sit amet nisl vulputate pellentesque vel at tellus.
{% endblock %}
