{% extends 'coinbase.html' %}

{% block title %}Bitcoin Cash{% endblock %}

<script>
    {% block jquery%}
    createDayGraph('BCH');
    $(".hour").click(function(){
      createHourGraph('BCH');
    });
    $(".day").click(function(){
      createDayGraph('BCH');
    });
    $(".week").click(function(){
      createWeekGraph('BCH');
    });
    $(".month").click(function(){
      createMonthGraph('BCH');
    });
    {% endblock %}
    </script>

{% block title2 %}Bitcoin Cash (BCH){% endblock %}

{% block graph %}
<canvas id="graph" style="padding: 5px;"></canvas>
{% endblock %}



<!-- Under the graph -->
{% block quote %}
<p class="mb-0">“Bitcoin is one of the most important inventions in all of human history. For the first time ever,
    anyone can send or receive any amount of money with anyone else, anywhere on the planet, conveniently and without
    restriction. It's the dawn of a better, more free world.
    ”</p>
<footer class="blockquote-footer">Roger Ver, <cite title="Source Title">CEO Bitcoin.com</cite></footer>
{% endblock %}


{% block about%}
Bitcoin Cash is a currency born into the digital age. When using Bitcoin for the first time people should get an idea of how
it works. Digital money is different than the traditional finance world is used to. It offers three core values in
which many currencies cannot attain: Decentralization, Open Source, and Peer-to-Peer networking. [...] Bitcoin is a truly beautiful innovation, and it has the capacity to change the world.
<br>
<small class="text-muted">
    Taken from <a href="https://www.coinbase.com/price/bitcoin-cash">this article</a>, on CoinBase.com
</small>
<p>
    <i class="fas fa-globe"></i> <a href="https://bitcoincash.org/">Official Website</a><br>
    <i class="far fa-file-alt"></i>&ThickSpace;<a href="https://bitcoincash.org/bitcoin.pdf">Whitepaper</a>
</p>
{% endblock %}
