<!-- This is  the .html for the Coins page on the navbar, not the base template for the coin pages -->
{% extends 'base.html' %}

{% block content %}

<div class="container softpad2 text-muted">
    <div class="row">
        <div class="col bg-white" style="padding-top: 20px; padding-bottom: 20px; border-radius: 7px;">
            <h4 style="padding-bottom: 10px;"> Avaiable on Project<em><strong>Coin</strong></em> &ThickSpace; <span class=" text-muted badge badge-pill badge-light">10</span></h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col"> </th>
                        <th scope="col">Rank</th>
                        <th scope="col">Coin</th>
                        <th scope="col">Trend</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                            <th scope="row">
                                    <i class="fas fa-star"></i></th>
                                    <td>1</td>
                        <td><a href="{% url 'bitcoin' %}">Bitcoin</a></td>
                        <td id="BTCpct">
                           <span class="badge badge-pill badge-danger"><i class="fas fa-arrow-alt-circle-down"></i></span></td>
                        <td id="BTCprice">
                           <span class="badge badge-pill badge-danger"><i class="fas fa-arrow-alt-circle-down"></i></span></td>
                    </tr>
                    <tr>
                            <th scope="row">
                                    <i class="fas fa-star"></i></th>
                                    <td>2</td>
                        <td><a href="{% url 'ethereum' %}">Ethereum</a></td>
                        <td id="ETHpct"><span class="badge badge-pill badge-success"><i class="fas fa-arrow-alt-circle-up"></i></span></td>
                        <td id="ETHprice"><span class="badge badge-pill badge-success"><i class="fas fa-arrow-alt-circle-up"></i></span></td>
                    </tr>
                    <tr>
                            <th scope="row">
                                    <i class="fas fa-star"></i></th>
                                    <td>3</td>
                        <td><a href="{% url 'xrp' %}">XRP</a></td>
                        <td id="XRPpct"><span class="badge badge-pill badge-danger"><i class="fas fa-arrow-alt-circle-down"></i></span></td>
                        <td id="XRPprice"><span class="badge badge-pill badge-success"><i class="fas fa-arrow-alt-circle-up"></i></span></td>
                    </tr>
                    <tr>
                            <th scope="row">
                                    <i class="fas fa-star"></i></th>
                                    <td>4</td>
                        <td><a href="{% url 'bitcoincash' %}">Bitcoin Cash</a></td>
                        <td id="BCHpct"><span class="badge badge-pill badge-danger"><i class="fas fa-arrow-alt-circle-down"></i></span></td>
                        <td id="BCHprice"><span class="badge badge-pill badge-success"><i class="fas fa-arrow-alt-circle-up"></i></span></td>
                    </tr>
                    <tr>
                            <th scope="row">
                                    <i class="fas fa-star"></i></th>
                                    <td>5</td>
                        <td><a href="{% url 'litecoin' %}">Litecoin</a></td>
                        <td id="LTCpct"><span class="badge badge-pill badge-danger"><i class="fas fa-arrow-alt-circle-down"></i></span></td>
                        <td id="LTCprice"><span class="badge badge-pill badge-success"><i class="fas fa-arrow-alt-circle-up"></i></span></td>
                    </tr>
                    <tr>
                            <th scope="row">
                                    <i class="fas fa-star"></i></th>
                                    <td>6</td>
                        <td><a href="{% url 'stellar' %}">Stellar Lumen</a></td>
                        <td id="XLMpct"><span class="badge badge-pill badge-danger"><i class="fas fa-arrow-alt-circle-down"></i></span></td>
                        <td id="XLMprice"><span class="badge badge-pill badge-success"><i class="fas fa-arrow-alt-circle-up"></i></span></td>
                    </tr>
                    <tr>
                            <th scope="row">
                                    <i class="fas fa-star"></i></th>
                                    <td>7</td>
                                    <td><a href="{% url 'eclassic' %}">Ethereum Classic</a></td>
                        <td id="ETCpct"><span class="badge badge-pill badge-danger"><i class="fas fa-arrow-alt-circle-down"></i></span></td>
                        <td id="ETCprice"><span class="badge badge-pill badge-success"><i class="fas fa-arrow-alt-circle-up"></i></span></td>
                    </tr>
                    <tr>
                            <th scope="row">
                                    <i class="fas fa-star"></i></th>
                                    <td>8</td>
                                    <td><a href="{% url 'attn' %}">Basic Attention Token</a></td>
                        <td id="BATpct"><span class="badge badge-pill badge-danger"><i class="fas fa-arrow-alt-circle-down"></i></span></td>
                        <td id="BATprice"><span class="badge badge-pill badge-success"><i class="fas fa-arrow-alt-circle-up"></i></span></td>
                    </tr>
                    <tr>
                            <th scope="row">
                                    <i class="fas fa-star"></i></th>
                                    <td>9</td>
                                    <td><a href="{% url 'zcash' %}">Zcash</a></td>
                        <td id="ZECpct"><span class="badge badge-pill badge-danger"><i class="fas fa-arrow-alt-circle-down"></i></span></td>
                        <td id="ZECprice"><span class="badge badge-pill badge-success"><i class="fas fa-arrow-alt-circle-up"></i></span></td>
                    </tr>
                    <tr>
                            <th scope="row">
                                    <i class="fas fa-star"></i></th>
                                    <td>10</td>
                                    <td><a href="{% url '0x' %}">0x</a></td>
                        <td id="ZRXpct"><span class="badge badge-pill badge-danger"><i class="fas fa-arrow-alt-circle-down"></i></span></td>
                        <td id="ZRXprice"><span class="badge badge-pill badge-success"><i class="fas fa-arrow-alt-circle-up"></i></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        getData();
    })
</script>

{% endblock %}
