{% load static %}



<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <title>ProjectCoin</title>
</head>

<body class="box1">
    <div>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-primary navformat">
            <a class="navbar-brand text-white" href="{% url 'index' %}">Project<em><b>Coin</b></em></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active navspacing">
                        <a class="nav-link text-white" href="{% url 'index' %}"><b>Home</b> <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item navspacing">
                        <a class="nav-link text-white" href="{% url 'coins' %}"><b>Coins</b></a>
                    </li>
                    <li class="nav-item dropdown navspacing">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <b>Company</b>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'about' %}">About Us</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">FAQ</a>
                        </div>
                    </li>
                </ul>
                <div class="collapse navbar-collapse justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item active navspacing-right">
                            <a class="nav-link text-white" href="{% url 'user_login' %}"><b>Login</b></a>
                        </li>
                        <li class="nav-item active navspacing-right">
                            <a class="nav-link text-white" href="{% url 'register' %}"><b>Register</b></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>

    <div style="padding-top: 70px; padding-bottom: 20px;">
        <div class="container">
            <h1 style="padding-top: 15px; padding-bottom: 15px;">{% block title %}{% endblock %}</h1>
        </div>
        <div class="container bg-white text-dark" style="border-radius: 7px; padding-left: 5px; padding-top: 5px;">
            <div class="row" style="padding: 5px; height: 55vh;">
                {% block graph %}{% endblock %}
            </div>
            <div class="row">
                <div class="col">
                    <center>
                    <button type="button" class="btn btn-primary hour" style="width: 200px;">1 hour</button>
                    <button type="button" class="btn btn-primary day" style="width: 200px;">24 hours</button>
                    <button type="button" class="btn btn-primary week" style="width: 200px;">7 days</button>
                    <button type="button" class="btn btn-primary month" style="width: 200px;">1 month</button>
                    </center>
                </div>
            </div>
            <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
                <div class="col">
                    <center>
                    <h6 class="card-subtitle" id="high">Highest </h6>
                </center>
                </div>
                <div class="col">
                    <center><h6 class="card-subtitle" id="low">Lowest </h6>
                    </center>
                    
                </div>
                <div class="col">
                        <center><h6 class="card-subtitle" id="price">Price </h6>
                            </center>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white text-dark" style="padding-top: 20px; padding-bottom: 20px;">
<div class="container">
        <blockquote class="blockquote text-center">
                {% block quote %}{% endblock %}
            </blockquote>
</div>
    </div>
    <div class="container" style="border-radius: 7px; padding-top: 20px;">
        <div class="row">
            <div class="col">
                <h4 style="padding-top: 5px; padding-bottom: 5px;">About {% block title2 %}{% endblock %}</h4>
                <p>{% block about %}{% endblock %}</p>
            </div>
        </div>

    </div>
    <div class="container" style="padding-top: 20px; margin-bottom: 40px;">
        <div class="row">
            <div class="col text-muted bg-white" style="border-radius: 7px;">
                <h4 style="padding-top: 10px; padding-bottom: 5px;">Discover Coins</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                                <th scope="col"> </th>
                            <th scope="col">Rank</th>
                            <th scope="col">Coin</th>
                            <th scope="col">Trend</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- These should move depending on which one is ranked higher either at the end of the day or throughout the day ? -->
                        <tr>
                                <th scope="row">
                                        <i class="fas fa-star"></i></th>
                                        <td>1</td>
                            <td>
                                <!-- Product Name: Bitcoin for testing --><a href="{% url 'bitcoin' %}">Bitcoin</a></td>
                            <td id="BTCpct">
                                <!-- High for the day and/or trend: change badge-danger for RED and badge-success for GREEN --><span class="badge badge-pill badge-danger"><i
                                        class="fas fa-arrow-alt-circle-down"></i></span></td>
                            <td id="BTCprice">
                                <!-- Price: random price for the day for testing--><span class="badge badge-pill badge-danger"><i
                                        class="fas fa-arrow-alt-circle-down"></i></span></td>
                        </tr>
                        <tr>
                                <th scope="row">
                                        <i class="fas fa-star"></i></th>
                                        <td>2</td>
                            <td><a href="{% url 'ethereum' %}">Ethereum</a></td>
                            <td id="ETHpct"><span class="badge badge-pill badge-success"><i class="fas fa-arrow-alt-circle-up"></i></span></td>
                            <td id="ETHprice"><span class="badge badge-pill badge-success"><i class="fas fa-arrow-alt-circle-up"></i></span></td>
                        </tr>
                        <tr>
                                <th scope="row">
                                        <i class="fas fa-star"></i></th>
                                        <td>3</td>
                            <td><a href="{% url 'xrp' %}">XRP</a></td>
                            <td id="XRPpct"><span class="badge badge-pill badge-danger"><i class="fas fa-arrow-alt-circle-down"></i></span></td>
                            <td id="XRPprice"><span class="badge badge-pill badge-success"><i class="fas fa-arrow-alt-circle-up"></i></span></td>
                        </tr>
                        </tbody>
                        </table>
            </div>
        </div>
    </div>


    </div>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="{% static 'js/graph.js' %}"></script>

    <script>
        $(document).ready(function () {
            {% block jquery %} {% endblock %}
        })
    </script>
</body>

</html>
