<!-- This is  the .html for the Coins page on the navbar, not the base template for the coin pages -->
{% extends 'base.html' %}

{% block content %}

<div class="container softpad2 text-muted">
    <div class="row">
        <div class="col bg-white" style="padding-top: 20px; padding-bottom: 20px; border-radius: 7px;">
            <h4 style="padding-bottom: 10px;"> Avaiable on Project<em><strong>Coin</strong></em> &ThickSpace; <span class=" text-muted badge badge-pill badge-light">10</span></h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                            <th scope="col"> </th>
                        <th scope="col">Rank</th>
                        <th scope="col">Coin</th>
                        <th scope="col">Trend</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- These should move depending on which one is ranked higher either at the end of the day or throughout the day ? -->
                    <tr>
                            <th scope="row">
                                    <i class="fas fa-star"></i></th>
                                    <td>1</td>
                        <td>
                            <!-- Product Name: Bitcoin for testing --><a href="{% url 'bitcoin' %}">Bitcoin</a></td>
                        <td>
                            <!-- High for the day and/or trend: change badge-danger for RED and badge-success for GREEN --><span class="badge badge-pill badge-danger"><i
                                    class="fas fa-arrow-alt-circle-down"></i></span> -1.32% </td>
                        <td>
                            <!-- Price: random price for the day for testing--><span class="badge badge-pill badge-danger"><i
                                    class="fas fa-arrow-alt-circle-down"></i></span> $ 3,240.30 </td>
                    </tr>
                    <tr>
                            <th scope="row">
                                    <i class="fas fa-star"></i></th>
                                    <td>2</td>
                        <td><a href="{% url 'ethereum' %}">Ethereum</a></td>
                        <td><span class="badge badge-pill badge-success"><i class="fas fa-arrow-alt-circle-up"></i></span>
                            + 2.57% </td>
                        <td><span class="badge badge-pill badge-success"><i class="fas fa-arrow-alt-circle-up"></i></span>
                            $ 0.10</td>
                    </tr>
                    <tr>
                            <th scope="row">
                                    <i class="fas fa-star"></i></th>
                                    <td>3</td>
                        <td><a href="{% url 'xrp' %}">XRP</a></td>
                        <td><span class="badge badge-pill badge-danger"><i class="fas fa-arrow-alt-circle-down"></i></span> -3.11%</td>
                        <td><span class="badge badge-pill badge-success"><i class="fas fa-arrow-alt-circle-up"></i></span> $ 4.71</td>
                    </tr>
                    <tr>
                            <th scope="row">
                                    <i class="fas fa-star"></i></th>
                                    <td>4</td>
                        <td><a href="{% url 'bitcoincash' %}">Bitcoin Cash</a></td>
                        <td><span class="badge badge-pill badge-danger"><i class="fas fa-arrow-alt-circle-down"></i></span> -3.11%</td>
                        <td><span class="badge badge-pill badge-success"><i class="fas fa-arrow-alt-circle-up"></i></span> $ 4.71</td>
                    </tr>
                    <tr>
                            <th scope="row">
                                    <i class="fas fa-star"></i></th>
                                    <td>5</td>
                        <td><a href="{% url 'litecoin' %}">Litecoin</a></td>
                        <td><span class="badge badge-pill badge-danger"><i class="fas fa-arrow-alt-circle-down"></i></span> -3.11%</td>
                        <td><span class="badge badge-pill badge-success"><i class="fas fa-arrow-alt-circle-up"></i></span> $ 4.71</td>
                    </tr>
                    <tr>
                            <th scope="row">
                                    <i class="fas fa-star"></i></th>
                                    <td>6</td>
                        <td>Stellar Lumens</td>
                        <td><span class="badge badge-pill badge-danger"><i class="fas fa-arrow-alt-circle-down"></i></span> -3.11%</td>
                        <td><span class="badge badge-pill badge-success"><i class="fas fa-arrow-alt-circle-up"></i></span> $ 4.71</td>
                    </tr>
                    <tr>
                            <th scope="row">
                                    <i class="fas fa-star"></i></th>
                                    <td>7</td>
                        <td>Ethereum Classic</td>
                        <td><span class="badge badge-pill badge-danger"><i class="fas fa-arrow-alt-circle-down"></i></span> -3.11%</td>
                        <td><span class="badge badge-pill badge-success"><i class="fas fa-arrow-alt-circle-up"></i></span> $ 4.71</td>
                    </tr>
                    <tr>
                            <th scope="row">
                                    <i class="fas fa-star"></i></th>
                                    <td>8</td>
                        <td>Basic Attention Token</td>
                        <td><span class="badge badge-pill badge-danger"><i class="fas fa-arrow-alt-circle-down"></i></span> -3.11%</td>
                        <td><span class="badge badge-pill badge-success"><i class="fas fa-arrow-alt-circle-up"></i></span> $ 4.71</td>
                    </tr>
                    <tr>
                            <th scope="row">
                                    <i class="fas fa-star"></i></th>
                                    <td>9</td>
                        <td>Zcash</td>
                        <td><span class="badge badge-pill badge-danger"><i class="fas fa-arrow-alt-circle-down"></i></span> -3.11%</td>
                        <td><span class="badge badge-pill badge-success"><i class="fas fa-arrow-alt-circle-up"></i></span> $ 4.71</td>
                    </tr>
                    <tr>
                            <th scope="row">
                                    <i class="fas fa-star"></i></th>
                                    <td>10</td>
                        <td>Ox</td>
                        <td><span class="badge badge-pill badge-danger"><i class="fas fa-arrow-alt-circle-down"></i></span> -3.11%</td>
                        <td><span class="badge badge-pill badge-success"><i class="fas fa-arrow-alt-circle-up"></i></span> $ 4.71</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}
