{% extends 'base.html' %}

{% block content %}

<div class="container bg-light" style="padding-top: 55px; padding-bottom: 20px; border-radius: 7px;">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="#">Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </nav>

    <div class="spacer" style="padding-top: 15px; padding-bottom: 5px;">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            You aren't following any coins!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>


    <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item text-muted">
              <a class="nav-link active" id="following-tab" data-toggle="tab" href="#following" role="tab" aria-controls="following" aria-selected="true">Following <i class="fas fa-star"></i></a>
            </li>
            <li class="nav-item text-muted">
              <a class="nav-link" id="discover-tab" data-toggle="tab" href="#discover" role="tab" aria-controls="discover" aria-selected="false">Discover <i class="fas fa-search-dollar"></i></a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active text-dark" id="following" role="tabpanel" aria-labelledby="following-tab">
                    <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col"> </th>
                                    <th scope="col">Rank</th>
                                    <th scope="col">Coin</th>
                                    <th scope="col">Trend</th>
                                    <th scope="col">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- These should move depending on which one is ranked higher either at the end of the day or throughout the day ? -->
                                <tr>
                                    <th scope="row">
                                            <i class="fas fa-star"></i></th>
                                            <td>1</td>
                                    <td>
                                        <!-- Product Name: Bitcoin for testing --><a href="{% url 'bitcoin' %}">Bitcoin</a></td>
                                    <td>
                                        <!-- High for the day and/or trend: random trend for testing --><span class="badge badge-pill badge-danger"><i
                                                class="fas fa-arrow-alt-circle-down"></i></span> -1.32% </td>
                                    <td>
                                        <!-- Price: random price for the day for testing--><span class="badge badge-pill badge-danger"><i
                                                class="fas fa-arrow-alt-circle-down"></i></span> $ 3,240.30 </td>
                                </tr>
                                <tr>
                                    <th scope="row"><i class="fas fa-star"></i></th>
                                    <td>2</td>
                                    <td>Stellar</td>
                                    <td><span class="badge badge-pill badge-success"><i class="fas fa-arrow-alt-circle-up"></i></span>
                                        + 2.57% </td>
                                    <td><span class="badge badge-pill badge-success"><i class="fas fa-arrow-alt-circle-up"></i></span>
                                        $ 0.10</td>
                                </tr>
                                <tr>
                                    <th scope="row"><i class="fas fa-star"></i></th>
                                    <td>3</td>
                                    <td>Litecoin</td>
                                    <td><span class="badge badge-pill badge-danger"><i class="fas fa-arrow-alt-circle-down"></i></span> -3.11%</td>
                                    <td><span class="badge badge-pill badge-success"><i class="fas fa-arrow-alt-circle-up"></i></span> $ 4.71</td>
                                </tr>
                            </tbody>
                        </table>
            </div>
            <div class="tab-pane fade text-dark" id="discover" role="tabpanel" aria-labelledby="discover-tab">
                    <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col"> </th>
                                    <th scope="col">Rank</th>
                                    <th scope="col">Coin</th>
                                    <th scope="col">Trend</th>
                                    <th scope="col">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- These should move depending on which one is ranked higher either at the end of the day or throughout the day ? -->
                                <tr>
                                    <th scope="row">
                                            <i class="far fa-star"></i></th>
                                            <td>1</td>
                                    <td>
                                        <!-- Product Name: Bitcoin for testing --><a href="{% url 'bitcoin' %}">Bitcoin</a></td>
                                    <td>
                                        <!-- High for the day and/or trend: random trend for testing --><span class="badge badge-pill badge-danger"><i
                                                class="fas fa-arrow-alt-circle-down"></i></span> -1.32% </td>
                                    <td>
                                        <!-- Price: random price for the day for testing--><span class="badge badge-pill badge-danger"><i
                                                class="fas fa-arrow-alt-circle-down"></i></span> $ 3,240.30 </td>
                                </tr>
                                <tr>
                                    <th scope="row"><i class="far fa-star"></i></th>
                                    <td>2</td>
                                    <td>Stellar</td>
                                    <td><span class="badge badge-pill badge-success"><i class="fas fa-arrow-alt-circle-up"></i></span>
                                        + 2.57% </td>
                                    <td><span class="badge badge-pill badge-success"><i class="fas fa-arrow-alt-circle-up"></i></span>
                                        $ 0.10</td>
                                </tr>
                                <tr>
                                    <th scope="row"><i class="far fa-star"></i></th>
                                    <td>3</td>
                                    <td>Litecoin</td>
                                    <td><span class="badge badge-pill badge-danger"><i class="fas fa-arrow-alt-circle-down"></i></span> -3.11%</td>
                                    <td><span class="badge badge-pill badge-success"><i class="fas fa-arrow-alt-circle-up"></i></span> $ 4.71</td>
                                </tr>
                            </tbody>
                        </table>
            </div>
          </div>


</div>


{% endblock %}