{% extends 'coinbase.html' %}

{% block title %}Ethereum{% endblock %}

<script>
{% block jquery%}
createDayGraph('ETH');
$(".hour").click(function(){
  createHourGraph('ETH');
});
$(".day").click(function(){
  createDayGraph('ETH');
});
$(".week").click(function(){
  createWeekGraph('ETH');
});
$(".month").click(function(){
  createMonthGraph('ETH');
});
{% endblock %}
</script>

{% block graph %}
<canvas id="graph"></canvas>
{% endblock %}

{% block title2 %}Ethereum{% endblock %}



{% block compare  %}
Maecenas finibus fermentum arcu vel molestie. Etiam non justo a magna posuere ornare.
{% endblock %}

{% block about %}
Nunc egestas tristique pulvinar. Vivamus aliquam euismod nibh vel efficitur. Maecenas finibus fermentum arcu vel molestie. Etiam non justo a magna posuere ornare. Praesent ac augue sit amet nisl vulputate pellentesque vel at tellus.
{% endblock %}

{% block quote%} none
{% endblock %}
