{% extends 'base.html' %}

{%block content%}
    <div class="container">


        <div class="container" style="padding-top: 140px; padding-bottom: 35px;">
            <center>
                <br>
                <h1>Track Cryptocurrency</h1>

                <p>Get notifications about coin prices, find out when <em>your</em> coin is worth more.</p>


            </center>
        </div>

        <div style="padding-top:50px; padding-bottom: 100px; text-align: center;">
            <div class="row" style="padding-right: 5%; padding-left: 5%;">
                <div class="col-sm-4">
                    <div class="card" style="border-radius: 7px;">
                        <div class="card-body">
                            <h5 class="card-title text-muted">Bitcoin (BTC)</h5>
                            <p class="card-text text-muted">With supporting text below as a natural lead-in to
                                additional content.</p>
                            <a href="{% url 'bitcoin' %}" class="btn btn-sm btn-outline-primary">Explore</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="border-radius: 7px;">
                        <div class="card-body">
                            <h5 class="card-title text-muted">Ethereum (ETH)</h5>
                            <p class="card-text text-muted">With supporting text below as a natural lead-in to
                                additional content.</p>
                            <a href="{% url 'ethereum' %}" class="btn btn-sm btn-outline-primary">Explore</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="border-radius: 7px;">
                        <div class="card-body">
                            <h5 class="card-title text-muted">Litecoin (LTC)</h5>
                            <p class="card-text text-muted">With supporting text below as a natural lead-in to
                                additional content.</p>
                            <a href="{% url 'litecoin' %}" class="btn btn-sm btn-outline-primary">Explore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- Ends Content Container -->




    <div class="bg-white text-dark softpad">
        <br>

        <div class="container"><center>
            <div class="row justify-content-md-center">

                <div class="col col-lg-2">
                        <i class="material-icons md-48">email</i><br>
                        <b>Signup</b>
                        <br>
                        Signup with your email.
                </div>
                <div class="col col-lg-2">
                        <i class="material-icons md-48">done_all</i><br>
                        <b>Select</b><br>
                        Select the coins you want to track.
                </div>
                <div class="col col-lg-2">
                        <i class="material-icons md-48">watch_later</i><br>
                        <b>Watch</b>
                        <br>
                        Watch prices from past and present.
                </div>
                <div class="col col-lg-2">
                        <i class="material-icons md-48">notification_important</i><br>
                        <b>Notify</b>
                        <br>
                        Get notified when your coins rise or fall.
                </div>
                <div class="col col-lg-2">
                        <i class="material-icons md-48">trending_up</i><br>
                        <b>Track</b><br>
                        Track your coins, assist your knowledge.
                </div>
            </div>
        </center>
        </div>
    </div>

    <div class="container softpad2">
        <center>
            <h1>Get Started</h1>
            <p>Create your account, choose your notifications, and get <em>tracking!</em></p>
        </center>

        <div class="container">
            <form>
                <div class="row">
                    <div class="col"></div>
                    <div class="col-sm-4 form-group mb-2">
                        <label for="inputPassword2" class="sr-only">Email</label>
                        <input type="text" class="form-control" placeholder="example@email.com">
                    </div><button type="submit" class="mb-2 btn btn-primary">Get Tracking</button>
                    <div class="col"></div>

                </div>
            </form>
        </div>

    </div>


{% endblock %}
