{% extends 'coinbase.html' %}

{% block title %}Litecoin{% endblock %}

{% block graph %}
<!-- Graph Data would go in here-->
Graph goes here.
{% endblock %}

{% block title2 %}Litecoin{% endblock %}



{% block right %}
Maecenas finibus fermentum arcu vel molestie. Etiam non justo a magna posuere ornare. 
{% endblock %}

{% block left%}
Nunc egestas tristique pulvinar. Vivamus aliquam euismod nibh vel efficitur. Maecenas finibus fermentum arcu vel molestie. Etiam non justo a magna posuere ornare. Praesent ac augue sit amet nisl vulputate pellentesque vel at tellus.
{% endblock %}
