{% extends 'base.html' %}

{% block content %}
<div style="padding-top: 180px;">
        <h1>
           <center>
                Let's get <em>tracking.</em>
           </center>
        </h1>
        <div class="container text-dark" style="border-radius: 7px; padding-top: 20px;">
            <div class="row" style="border-radius: 7px;">
                <div class="col"></div>
                <div class="col-sm-5 text-dark bg-white softpad" style="border-radius: 7px; padding-left: 40px; padding-right: 40px;">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">I agree to the <a href="#">terms and
                                    conditions.</a></label>
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
                <div class="col"></div>
            </div>
           
        </div>
        <p>
                <center>Already have an account? <a href="{% url 'login' %}">Login here.</a></center>
            </p>
    </div>

{% endblock %}
