{% extends 'coinbase.html' %}

{% block title %}Stellar Lumen{% endblock %}

<script>
    {% block jquery%}
    createDayGraph('XLM');
    $(".hour").click(function(){
      createHourGraph('XLM');
    });
    $(".day").click(function(){
      createDayGraph('XLM');
    });
    $(".week").click(function(){
      createWeekGraph('XLM');
    });
    $(".month").click(function(){
      createMonthGraph('XLM');
    });
    {% endblock %}
    </script>

{% block title2 %}Stellar Lumen (XLM){% endblock %}

{% block graph %}
<canvas id="graph" style="padding: 5px;"></canvas>
{% endblock %}

<!-- Under the graph -->
{% block quote %}
<p class="mb-0">“With a team of top technology and finance professionals, the nonprofit Stellar.org expands access to low-cost financial services to fight poverty and maximize individual potential.
    ”</p>
<footer class="blockquote-footer"><cite title="Source Title">stellar.org</cite></footer>
{% endblock %}


<!-- under quote -->
{% block about%}
Stellar’s cryptocurrency, the Stellar Lumen (XLM), powers the Stellar payment network. Stellar aims to connect banks, payment systems, and individuals quickly and reliably.<br>
<small class="text-muted">
    Taken from <a href="https://bitcoinmagazine.com/guides/what-ripple/">this article</a>, on CoinBase.com
</small>
<p>
    <i class="fas fa-globe"></i> <a href="https://www.stellar.org/">Official Website</a><br>
    <i class="far fa-file-alt"></i>&ThickSpace;<a href="https://www.stellar.org/papers/stellar-consensus-protocol.pdf">Whitepaper</a>
</p>
{% endblock %}


