{% extends 'coinbase.html' %}

{% block title %}Bitcoin Cash (XRP){% endblock %}

<script>
    {% block jquery%}
    createDayGraph('XRP');
    $(".hour").click(function(){
      createHourGraph('XRP');
    });
    $(".day").click(function(){
      createDayGraph('XRP');
    });
    $(".week").click(function(){
      createWeekGraph('XRP');
    });
    $(".month").click(function(){
      createMonthGraph('XRP');
    });
    {% endblock %}
    </script>
{% block title2 %}XRP{% endblock %}

{% block graph %}
<canvas id="graph" style="padding: 5px;"></canvas>
{% endblock %}




<!-- Under the graph -->
{% block quote %}
<p class="mb-0">“Built for enterprise use, XRP offers banks and payment
    providers a reliable, on-demand option to source
    liquidity for cross-border payments.
    ”</p>
<footer class="blockquote-footer"><cite title="Source Title">ripple.com/xrp</cite></footer>
{% endblock %}

{% block about%}
The Ripple protocol (token represented as XRP) is meant to enable the near instant and direct transfer of money between
two parties. Any type of currency can be exchanged, from fiat currency to gold to even airline miles. They claim to
avoid the fees and wait times of traditional banking and even cryptocurrency transactions through exchanges.<br>
<small class="text-muted">
    Taken from <a href="https://bitcoinmagazine.com/guides/what-ripple/">this article</a>, on Bitcoin.com
</small>
<p>
    <i class="fas fa-globe"></i> <a href="http://ripple.com/xrp">Official Website</a><br>
    <i class="far fa-file-alt"></i>&ThickSpace;<a href="http://ripple.com/files/ripple_consensus_whitepaper.pdf">Whitepaper</a>
</p>
{% endblock %}


